.select-zone {
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 1px solid teal;
  cursor: pointer;
}

.thumb {
  cursor: default;
}

form .progress {
  line-height: 15px;
}

.progress {
  display: inline-block;
  width: 100px;
  border: 3px groove #CCC;
}

.progress div {
  font-size: smaller;
  background: orange;
  width: 0;
}